.hero{
    background: url(../assets/giroModificado1024.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* .hero{
    height: 100vh;
    width: 100%;
    background: url(../assets/giroModificado1024.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: .1px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.iconMenu{
    display: none;
}

.linksMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.hero h1{
    bottom: 100px;
    left: 30%;
}

.fondoPersonaje{
    width: 40%;
}

.personaje h2{
    margin: 50px auto 0;
    font-size: 2.5rem;
}

.personajeImg{
    width: 100%;
    height: 800px;
}

.personajeImg:hover{
    filter: drop-shadow(10px 10px 8px rgb(197, 195, 183));
}

form{
    align-items: flex-start;
}

.personaje h3{
    margin: 50px auto 5px;
    font-size: 2rem;
}

.personaje p{
    text-align: justify;
    margin: 20px 40px;
    font-size: 1.2rem;
}

.volver{
    font-size: 30px;
}

a{
    font-size: 30px;
    margin: 10px;
} */