/* Giro */
.hero{
    background: url(../assets/giroModificado1024.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 75dvh;
}

/* Iconos del menú hamburguesa */
.iconMenu{
    display: none;
}

/* Menú horizontal */
.linksMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.linksMenu a{
    font-size: .3rem;
}

/* Título del giro */
.hero h1{
    font-size: 3rem;
    text-shadow: 5px 5px 5px var(--color-sombra-texto);
}
/* Subtítulos de secciones */
section h2{
    font-size: 2.5rem;
}

/* Contenedor de imágenes de enlaces a otras páginas */
main section:nth-child(2) div{
    margin: 40px 0;
    height: 300px;
}

/* Efecto hover sobre imágenes de enlaces a otras páginas */
section img:hover{
    transition: linear 0.1s;
    max-width: 210px;
    box-shadow: 8px 8px 12px var(--color-dorado-oscuro);
}

/* Fondo del personaje */
.fondoPersonaje{
    height: 110dvh;
}

/* Imágen del personaje */
.personajeImg{
    width: 100%;
    height: 800px;
    transition: linear 0.2s;
}

/* Efecto hover sobre imágen y nombre del personaje */
.fondoPersonaje:hover{
    img{
        height: 850px;
        filter: drop-shadow(10px 10px 5px var(--color-sombra-personaje));
    } 
    h2{
        font-size: 3.5rem;
        text-shadow: 8px 8px 5px var(--color-sombra-texto);
    }
}

/* Subtítulo y nombre de personajes */
.personaje h2{
    margin-top: 40px;
    font-size: 3rem;
    transition: linear 0.2s;
    text-shadow: 8px 8px 5px var(--color-sombra-personaje);
}

/* Sección de descripción del personaje */
.personaje h3{
    margin: 50px auto 0px;
    font-size: 2.5rem;
    text-shadow: 5px 5px 5px var(--color-sombra-texto);
}

.personaje p{
    font-size: 18px;
    margin-top: 50px;
}

/* Enlace al inicio de la página */
.volver{
    font-size: 30px;
}

/* Pie de página */
.pieDePagina a{
    font-size: 30px;
    margin: 10px;
}

/* Media Queryes */
@media screen and (min-width: 1390px){
    .hero{
        height: 100dvh;
    }
    .linksMenu{
        gap: 20px;
    }
}

@media screen and (min-width: 1800px){
    .hero h1{
        font-size: 3.5rem;
    }
    main section:nth-of-type(2) div{
        max-width: 100%;
    }
}