.hero{
    background: url(../assets/giroModificado1024.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 75dvh;
}
.iconMenu{
    display: none;
}
.linksMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.linksMenu a{
    font-size: .3rem;
}
.hero h1{
    font-size: 3rem;
}
.volver{
    font-size: 30px;
}

.piedepagina a{
    font-size: 30px;
    margin: 10px;
}

@media screen and (min-width: 1390px){
    .hero{
        height: 100dvh;
    }
    .linksMenu{
        gap: 20px;
    }
}
@media screen and (min-width: 1800px){
    .hero h1{
        font-size: 3.5rem;
    }
    main section:nth-of-type(2) div{
        max-width: 100%;
    }
}
    
/* 

.fondoPersonaje{
    width: 40%;
}

.personaje h2{
    margin: 50px auto 0;
    font-size: 2.5rem;
}

.personajeImg{
    width: 100%;
    height: 800px;
}

.personajeImg:hover{
    filter: drop-shadow(10px 10px 8px rgb(197, 195, 183));
}


.personaje h3{
    margin: 50px auto 5px;
    font-size: 2rem;
}

.personaje p{
    text-align: justify;
    margin: 20px 40px;
    font-size: 1.2rem;
}

 */