@import url(https://db.onlinewebfonts.com/c/556e5a11f95d763eaa211cb1a793d8de?family=Caxton+W01+Book+Italic);
@import url(https://db.onlinewebfonts.com/c/661bf1532b87a1df22906f51cfe17e93?family=ITC+Medea+W01+Extra+Bold);
 
 :root{
    --color-fondo-verde: rgb(11, 37, 23);
    --color-dorado-oscuro: #7e6b58;
    --color-dorado-claro: #d5be9c;
    --color-fondo-body: rgb(22, 22, 22);
    --color-sombra-personaje:  #76504765 ;
    --color-nav: rgba(255, 255, 255, 0.5);
    --texto-principal: "Caxton W01 Book Italic";
    --texto-secundario: "ITC Medea W01 Extra Bold";
}

body{
    background-color: var(--color-fondo-body);
}
.hero{
    height: 40vh;
    width: 100%;
    background: url(../assets/giro-480.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: .1px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

/* Menú hamburguesa desplegable */

nav{
    background-color: var(--color-nav);
    backdrop-filter: blur(1px);
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 60px;
    align-self: flex-start;
}

.iconMenu{
    display: flex;
    align-items: center;
    height: 100%;
}

.iconMenu a i{
    padding: 20px;
    color: var(--color-fondo-verde);
}

.linksMenu{
    display: none;
    list-style: none;
}

.linksMenu li a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--color-fondo-verde);
    text-transform: uppercase;
}

#menu:target .linksMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-nav);
    backdrop-filter: blur(1px);
    gap: 20px;
    width: 100%;
    height: 25vh;
    padding: 20px;
    margin: 0;
}

.close{
    display: none;
}

#menu:target .open{
    display: none;
}

#menu:target .close{
    display: block;
}

/* Fin menú hamburguesa */

.hero h1{
    display: inline-block;
    font-family: var(--texto-principal);
    font-size: 1.5rem;
    color: var(--color-dorado-claro);
    animation-duration: 2s;
}
.hero img{
    display: flex;
    width: 100%;
    object-fit: cover;
}

/* Personajes */

.personaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fondoPersonaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border-radius: 20px;
    margin-top: 20px;
    background-color: rgba(246, 205, 152, 0.318);
}
.personaje h1{
    display: flex;
    justify-content: center;
    margin: 20px auto 20px;
    font-family: var(--texto-principal);
    font-size: 1.9rem;
    color: var(--color-dorado-claro);
}
.personajeImg{
    width: 90%;
}
.personaje h3{
    display: flex;
    justify-content: center;
    margin: 20px auto 5px;
    font-family: var(--texto-principal);
    font-size: 1.3rem;
    color: var(--color-dorado-claro);
}
.personaje p{
    display: flex;
    justify-content: center;
    margin: 20px 5px 20px;
    font-family: var(--texto-secundario);
    font-size: 1rem;
    color: var(--color-dorado-claro);
} 
/* Fin personajes */

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-dorado-claro);
}

section div:first-of-type{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section h2{
    font-size: 30px;
    font-family: var(--texto-principal);
    margin: 30px auto 15px;
}
section p{
    font-size: 18px;
    font-family: var(--texto-secundario);
    margin: 0 15px 20px;
}
section img{
    max-width: 100px;
    box-shadow: 5px 5px 12px var(--color-dorado-oscuro);
    margin-bottom: 15px;
}
.capitulos{
    display: flex;
    flex-direction: column;
    margin: 0 20px 30px;
    font-size: 1.2rem;
    font-family: var(--texto-principal);
}
.capitulos div:nth-of-type(n){
    justify-content: flex-start;
}

/* Formulario */

.formulario{
    background-color: #7e6b58;
    padding: 20px 0;
    font-size: 1.25rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}
input{
    width: 85%;
}
textarea:first-of-type {
    resize: none;
    width: 85%;
    height: 30vh;
    box-sizing: border-box;
}
.boton{
    width: 85%;
}

/* Fin formulario */

.volver{
    display: flex;
    justify-content: center;
    margin: 20px;
    text-decoration: none;
    font-family: var(--texto-principal);
    color: var(--color-dorado-claro);
}
a{
    font-size: 1.3rem;
    color: var(--color-dorado-oscuro);
    padding: 5px;
}
.piedepagina{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-fondo-verde);
    padding: 20px;
    font-size: 1.3rem;
    color: var(--color-dorado-oscuro);
}