.hero{
    width: 100%;
    background: url(../assets/giroModificado768.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media screen and (min-width: 920px){
    .hero{
        height: 100dvh;
    }
}
/* .hero{
    height: 70vh;
    width: 100%;
    background: url(../assets/giroModificado768.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: .1px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.hero h1{

    bottom: 50px;
    left: 30px;
    font-size: 40px;
}
.menu-container {
    position: relative;
    width: 100%;
}
.button {
    display: none;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--color-fondo-verde);
    text-align: center;
}
.menu ul {
    display: flex;
}
.menu li {
    padding: 15px;
}
.menu a {
    text-decoration: none;
    color: var(--color-dorado-claro);
    font-size: 18px;
}

section img{
    max-width: 200px;
}

input{
    width: 70%;
}
textarea:first-of-type{
    width: 70%;
}
.boton{
    width: 25%;
}
.fondoPersonaje{
    width: 60%;
    margin-top: 50px;
} */